/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
    font-size: 40px;
}

/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.centered {
    text-align: center;
}

a:hover,
a:focus {
    color: #e4e1e1;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* HeaderWrap */

#headerwrap {
    background-color: cornflowerblue;
	padding-top: 80px;
	padding-bottom: 80px;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color: white;
    font-size: 45px;
    font-weight: 900;
}

/* Button Colours */

.btn {
    background-color: #994A3B;
    border-color: #994A3B;
}

.btn:hover {
	background-color: #6E362A;
    border-color: #6E362A;
}

.btn:disabled {
	background-color: #CCA15B;
    border-color: #CCA15B;
}
